body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'BEBASNEUE'
}
@font-face {
    font-family: 'BEBASNEUE';
    src: url("assets/BEBASNEUE\ BOLD.OTF");
    font-weight: 100;
  }
  @font-face {
    font-family: 'BEBASNEUE';
    src: url("assets/BEBASNEUE\ REGULAR.OTF");
    font-weight: 00;
  }